In [76]:
import pandas as pd

### Student

In [77]:
data_s = pd.read_csv('data_student.csv')
# 初步统计人数，有的人统计了两道三天内的活动
print('初步统计人数：', len(data_s.groupby('new_id')))
# 量化一天内有多少人
data_s['人数'] = data_s['BegTime'] == 0
data_s_2 = data_s[data_s['人数']]
num = len(data_s_2)
print('矫正后统计人数：', num)

初步统计人数： 388
矫正后统计人数： 432

In [13]:
# 在家
data_s['home'] = data_s['ActType'] == 1
data_s_h = data_s[data_s['home']]
home_t = round(data_s_h['AT_Dur'].sum() / num, 3)
print('home time:', home_t)
# 工作 [2,3,4,5]
data_s['work'] = (data_s['ActType'] == 2)|(data_s['ActType'] == 3)|(data_s['ActType'] == 4)|(data_s['ActType'] == 5)
data_s_work = data_s[data_s['work']]
work_t = round(data_s_work['AT_Dur'].sum() / num, 3)
print('work time:', work_t)
# 上学
# del data_w['work']
data_s['school'] = data_s['ActType'] == 8
data_s_school = data_s[data_s['school']]
school_t = round(data_s_school['AT_Dur'].sum() / num, 3)
print('school time:', school_t)
# 购物 [11,12,13]
# del data_w['school']
data_s['shopping'] = (data_s['ActType'] == 11)|(data_s['ActType'] == 12)|(data_s['ActType'] == 13)
data_s_shopping = data_s[data_s['shopping']]
shopping_t = round(data_s_shopping['AT_Dur'].sum() / num, 3)
print('shopping time:', shopping_t)
# 社交娱乐[15,16,17]
data_s['recreation'] = (data_s['ActType'] == 15)|(data_s['ActType'] == 16)|(data_s['ActType'] == 17)
data_s_recreation = data_s[data_s['recreation']]
recreation_t = round(data_s_recreation['AT_Dur'].sum() / num, 3)
print('recreation time:', recreation_t)
# 就医 18
data_s['dailycare'] = data_s['ActType'] == 18
data_s_dailycare = data_s[data_s['dailycare']]
dailycare_t = round(data_s_dailycare['AT_Dur'].sum() / num, 3)
print('dailycare time:', dailycare_t)
# 接送他人 6
data_s['jiesong'] = data_s['ActType'] == 6
data_s_jiesong = data_s[data_s['jiesong']]
jiesong_t = round(data_s_jiesong['AT_Dur'].sum() / num, 3)
print('jiesong time:', jiesong_t)
# 其它[7,9,10,14,19]
data_s['other'] = (data_s['ActType'] == 7)|(data_s['ActType'] == 9)|(data_s['ActType'] == 10)|(data_s['ActType'] == 14)|(data_s['ActType'] == 19)
data_s_other = data_s[data_s['other']]
other_t = round(data_s_other['AT_Dur'].sum() / num, 3)
print('other time:', other_t)

home time: 879.271
work time: 37.88
school time: 394.81
shopping time: 16.155
recreation time: 30.947
dailycare time: 1.266
jiesong time: 2.965
other time: 7.701

In [14]:
worker_list = []
worker_list.append(home_t)
name_list = ['回家', '工作', '上学', '购物', '社交娱乐', '就医', '接送他人', '其它']
worker_list.append(work_t)
worker_list.append(school_t)
worker_list.append(shopping_t)
worker_list.append(recreation_t)
worker_list.append(dailycare_t)
worker_list.append(jiesong_t)
worker_list.append(other_t)
student = pd.DataFrame([worker_list], columns=name_list)
student

        回家     工作      上学      购物    社交娱乐     就医   接送他人     其它
0  879.271  37.88  394.81  16.155  30.947  1.266  2.965  7.701

### Non Worker

In [78]:
data_n = pd.read_csv('data_nonworker.csv')
# 初步统计人数，有的人统计了两道三天内的活动
print('初步统计人数：', len(data_n.groupby('new_id')))
# 量化一天内有多少人
data_n['人数'] = data_n['BegTime'] == 0
data_n_2 = data_n[data_n['人数']]
num = len(data_n_2)
print('矫正后统计人数：', num)

初步统计人数： 1919
矫正后统计人数： 2196

In [18]:
# 在家
data_n['home'] = data_n['ActType'] == 1
data_n_h = data_n[data_n['home']]
home_t = round(data_n_h['AT_Dur'].sum() / num, 3)
print('home time:', home_t)
# 工作
data_n['work'] = (data_n['ActType'] == 2)|(data_n['ActType'] == 3)|(data_n['ActType'] == 4)|(data_n['ActType'] == 5)
data_n_work = data_n[data_n['work']]
work_t = round(data_n_work['AT_Dur'].sum() / num, 3)
print('work time:', work_t)
# 上学
# del data_w['work']
data_n['school'] = data_n['ActType'] == 8
data_n_school = data_n[data_n['school']]
school_t = round(data_n_school['AT_Dur'].sum() / num, 3)
print('school time:', school_t)
# 购物 [11,12,13]
# del data_w['school']
data_n['shopping'] = (data_n['ActType'] == 11)|(data_n['ActType'] == 12)|(data_n['ActType'] == 13)
data_n_shopping = data_n[data_n['shopping']]
shopping_t = round(data_n_shopping['AT_Dur'].sum() / num, 3)
print('shopping time:', shopping_t)
# 社交娱乐[15,16,17]
data_n['recreation'] = (data_n['ActType'] == 15)|(data_n['ActType'] == 16)|(data_n['ActType'] == 17)
data_n_recreation = data_n[data_n['recreation']]
recreation_t = round(data_n_recreation['AT_Dur'].sum() / num, 3)
print('recreation time:', recreation_t)
# 就医 18
data_n['dailycare'] = data_n['ActType'] == 18
data_n_dailycare = data_n[data_n['dailycare']]
dailycare_t = round(data_n_dailycare['AT_Dur'].sum() / num, 3)
print('dailycare time:', dailycare_t)
# 接送他人 6
data_n['jiesong'] = data_n['ActType'] == 6
data_n_jiesong = data_n[data_n['jiesong']]
jiesong_t = round(data_n_jiesong['AT_Dur'].sum() / num, 3)
print('jiesong time:', jiesong_t)
# 其它[7,9,10,14,19]
data_n['other'] = (data_n['ActType'] == 7)|(data_n['ActType'] == 9)|(data_n['ActType'] == 10)|(data_n['ActType'] == 14)|(data_n['ActType'] == 19)
data_n_other = data_n[data_n['other']]
other_t = round(data_n_other['AT_Dur'].sum() / num, 3)
print('other time:', other_t)

home time: 1113.528
work time: 0.0
school time: 0.0
shopping time: 63.653
recreation time: 118.974
dailycare time: 13.784
jiesong time: 5.572
other time: 27.643

In [19]:
worker_list = []
worker_list.append(home_t)
name_list = ['回家', '工作', '上学', '购物', '社交娱乐', '就医', '接送他人', '其它']
worker_list.append(work_t)
worker_list.append(school_t)
worker_list.append(shopping_t)
worker_list.append(recreation_t)
worker_list.append(dailycare_t)
worker_list.append(jiesong_t)
worker_list.append(other_t)
nonworker = pd.DataFrame([worker_list], columns=name_list)
nonworker

         回家   工作   上学      购物     社交娱乐      就医   接送他人      其它
0  1113.528  0.0  0.0  63.653  118.974  13.784  5.572  27.643

### Worker

In [20]:
data_w = pd.read_csv('data_worker.csv')
# 初步统计人数，有的人统计了两道三天内的活动
print('初步统计人数：', len(data_w.groupby('new_id')))
# 量化一天内有多少人
data_w['人数'] = data_w['BegTime'] == 0
data_w_2 = data_w[data_w['人数']]
num = len(data_w_2)
print('矫正后统计人数：', num)

初步统计人数： 1339
矫正后统计人数： 2046

In [21]:
# 在家
data_w['home'] = data_w['ActType'] == 1
data_w_h = data_w[data_w['home']]
home_t = round(data_w_h['AT_Dur'].sum() / num, 3)
print('home time:', home_t)
# 工作
work_l = [2,3,4,5]
data_w['work'] = (data_w['ActType'] == 2)|(data_w['ActType'] == 3)|(data_w['ActType'] == 4)|(data_w['ActType'] == 5)
data_w_work = data_w[data_w['work']]
work_t = round(data_w_work['AT_Dur'].sum() / num, 3)
print('work time:', work_t)
# 上学
# del data_w['work']
data_w['school'] = data_w['ActType'] == 8
data_w_school = data_w[data_w['school']]
school_t = round(data_w_school['AT_Dur'].sum() / num, 3)
print('school time:', school_t)
# 购物 [11,12,13]
# del data_w['school']
data_w['shopping'] = (data_w['ActType'] == 11)|(data_w['ActType'] == 12)|(data_w['ActType'] == 13)
data_w_shopping = data_w[data_w['shopping']]
shopping_t = round(data_w_shopping['AT_Dur'].sum() / num, 3)
print('shopping time:', shopping_t)
# 社交娱乐[15,16,17]
data_w['recreation'] = (data_w['ActType'] == 15)|(data_w['ActType'] == 16)|(data_w['ActType'] == 17)
data_w_recreation = data_w[data_w['recreation']]
recreation_t = round(data_w_recreation['AT_Dur'].sum() / num, 3)
print('recreation time:', recreation_t)
# 就医 18
data_w['dailycare'] = data_w['ActType'] == 18
data_w_dailycare = data_w[data_w['dailycare']]
dailycare_t = round(data_w_dailycare['AT_Dur'].sum() / num, 3)
print('dailycare time:', dailycare_t)
# 接送他人 6
data_w['jiesong'] = data_w['ActType'] == 6
data_w_jiesong = data_w[data_w['jiesong']]
jiesong_t = round(data_w_jiesong['AT_Dur'].sum() / num, 3)
print('jiesong time:', jiesong_t)
# 其它[7,9,10,14,19]
data_w['other'] = (data_w['ActType'] == 7)|(data_w['ActType'] == 9)|(data_w['ActType'] == 10)|(data_w['ActType'] == 14)|(data_w['ActType'] == 19)
data_w_other = data_w[data_w['other']]
other_t = round(data_w_other['AT_Dur'].sum() / num, 3)
print('other time:', other_t)

home time: 866.248
work time: 367.704
school time: 0.0
shopping time: 35.331
recreation time: 55.644
dailycare time: 6.17
jiesong time: 4.867
other time: 15.478

In [22]:
worker_list = []
worker_list.append(home_t)
name_list = ['回家', '工作', '上学', '购物', '社交娱乐', '就医', '接送他人', '其它']
worker_list.append(work_t)
worker_list.append(school_t)
worker_list.append(shopping_t)
worker_list.append(recreation_t)
worker_list.append(dailycare_t)
worker_list.append(jiesong_t)
worker_list.append(other_t)
worker = pd.DataFrame([worker_list], columns=name_list)
worker

        回家       工作   上学      购物    社交娱乐    就医   接送他人      其它
0  866.248  367.704  0.0  35.331  55.644  6.17  4.867  15.478

In [54]:
avarage_activity = worker.append(student)
avarage_activity = avarage_activity.append(nonworker)
# avarage_activity.rename({0: ['Worker', 'Student','Non Worker']}, axis='index')
avarage_activity.to_csv('avarage_activity_time.csv')

In [75]:
x = pd.read_csv('avarage_activity_time.csv')
del x['Unnamed: 0']
x = x.rename({0: 'Worker', 1: 'Student', 2: 'Non Worker'}, axis='index')
x

                  回家       工作      上学      购物     社交娱乐      就医   接送他人      其它
Worker       866.248  367.704    0.00  35.331   55.644   6.170  4.867  15.478
Student      879.271   37.880  394.81  16.155   30.947   1.266  2.965   7.701
Non Worker  1113.528    0.000    0.00  63.653  118.974  13.784  5.572  27.643