In [1]:
import pandas as pd

In [31]:
data_w = pd.read_csv('data_worker.csv')
data_w[64:90]

,Unnamed: 0,at_id,act_id,trip_id,BegTime,EndTime,ActType,O_pur,D_pur,Mode,Numontrp,AT_Dur,new_id,student,worker,new_id_2
64,87,1,1,-2,0,420,2,-2,-2,-2,-2,420,6,False,True,6
65,88,2,-2,1,420,427,-2,2,16,4,1,7,6,False,False,6
66,89,3,2,-2,427,475,16,-2,-2,-2,-2,48,6,False,False,6
67,90,4,-2,2,475,505,-2,16,5,4,1,30,6,False,False,6
68,91,5,3,-2,505,535,5,-2,-2,-2,-2,30,6,False,True,6
69,92,6,-2,3,535,570,-2,5,2,4,1,35,6,False,False,6
70,93,7,4,-2,570,980,2,-2,-2,-2,-2,410,6,False,True,6
71,94,8,-2,4,980,1005,-2,2,6,4,3,25,6,False,False,6
72,95,9,5,-2,1005,1006,6,-2,-2,-2,-2,1,6,False,False,6
73,96,10,-2,5,1006,1030,-2,6,1,4,1,24,6,False,False,6
74,97,11,6,-2,1030,1050,1,-2,-2,-2,-2,20,6,False,False,6
75,98,12,-2,6,1050,1057,-2,1,1,4,1,7,6,False,False,6
76,99,13,7,-2,1057,1440,1,-2,-2,-2,-2,383,6,False,False,6
77,179,1,1,-2,0,502,1,-2,-2,-2,-2,502,14,False,False,14
78,180,2,-2,1,502,510,-2,1,3,3,2,8,14,False,False,14
79,181,3,2,-2,510,916,3,-2,-2,-2,-2,406,14,False,True,14
80,182,4,-2,2,916,936,-2,3,1,3,2,20,14,False,False,14
81,183,5,3,-2,936,1440,1,-2,-2,-2,-2,504,14,False,False,14
82,233,1,1,-2,0,480,1,-2,-2,-2,-2,480,22,False,False,22
83,234,2,-2,1,480,488,-2,1,3,4,1,8,22,False,False,22
84,235,3,2,-2,488,900,3,-2,-2,-2,-2,412,22,False,True,22
85,236,4,-2,2,900,910,-2,3,1,4,1,10,22,False,False,22
86,237,5,3,-2,910,1440,1,-2,-2,-2,-2,530,22,False,False,22
87,247,1,1,-2,0,330,1,-2,-2,-2,-2,330,24,False,False,24
88,248,2,-2,1,330,360,-2,1,3,5,1,30,24,False,False,24
89,249,3,2,-2,360,390,3,-2,-2,-2,-2,30,24,False,True,24

In [98]:
# 初步统计人数，有的人统计了两道三天内的活动
print('初步统计人数：', len(data_w.groupby('new_id')))
# 量化一天内有多少人
data_w['人数'] = data_w['BegTime'] == 0
data_w_2 = data_w[data_w['人数']]
num = len(data_w_2)
print('矫正后统计人数：', num)
# 在家
data_w['home'] = data_w['ActType'] == 1
data_w_h = data_w[data_w['home']]
home_t = round(data_w_h['AT_Dur'].sum() / num, 3)
print('home time:', home_t)

初步统计人数： 1339
矫正后统计人数： 2046
home time: 866.248

In [97]:
# 工作
work_l = [2,3,4,5]
data_w['work'] = (data_w['ActType'] == 2)|(data_w['ActType'] == 3)|(data_w['ActType'] == 4)|(data_w['ActType'] == 5)
data_w_work = data_w[data_w['work']]
work_t = round(data_w_work['AT_Dur'].sum() / num, 3)
print('work time:', work_t)

work time: 367.704

In [96]:
# 上学
# del data_w['work']
data_w['school'] = data_w['ActType'] == 8
data_w_school = data_w[data_w['school']]
school_t = round(data_w_school['AT_Dur'].sum() / num, 3)
print('school time:', school_t)

school time: 0.0

In [95]:
# 购物 [11,12,13]
# del data_w['school']
data_w['shopping'] = (data_w['ActType'] == 11)|(data_w['ActType'] == 12)|(data_w['ActType'] == 13)
data_w_shopping = data_w[data_w['shopping']]
shopping_t = round(data_w_shopping['AT_Dur'].sum() / num, 3)
print('shopping time:', shopping_t)

shopping time: 35.331

In [94]:
# 社交娱乐[15,16,17]
data_w['recreation'] = (data_w['ActType'] == 15)|(data_w['ActType'] == 16)|(data_w['ActType'] == 17)
data_w_recreation = data_w[data_w['recreation']]
recreation_t = round(data_w_recreation['AT_Dur'].sum() / num, 3)
print('recreation time:', recreation_t)

recreation time: 55.644

In [93]:
# 就医 18
data_w['dailycare'] = data_w['ActType'] == 18
data_w_dailycare = data_w[data_w['dailycare']]
dailycare_t = round(data_w_dailycare['AT_Dur'].sum() / num, 3)
print('dailycare time:', dailycare_t)

dailycare time: 6.17

In [92]:
# 接送他人 6
data_w['jiesong'] = data_w['ActType'] == 6
data_w_jiesong = data_w[data_w['jiesong']]
jiesong_t = round(data_w_jiesong['AT_Dur'].sum() / num, 3)
print('jiesong time:', jiesong_t)

jiesong time: 4.867

In [91]:
# 其它[7,9,10,14,19]
data_w['other'] = (data_w['ActType'] == 7)|(data_w['ActType'] == 9)|(data_w['ActType'] == 10)|(data_w['ActType'] == 14)|(data_w['ActType'] == 19)
data_w_other = data_w[data_w['other']]
other_t = round(data_w_other['AT_Dur'].sum() / num, 3)
print('other time:', other_t)

other time: 15.478

In [110]:
worker_list = []
worker_list.append(home_t)
name_list = ['回家', '工作', '上学', '购物', '社交娱乐', '就医', '接送他人', '其它']
worker_list.append(work_t)
worker_list.append(school_t)
worker_list.append(shopping_t)
worker_list.append(recreation_t)
worker_list.append(dailycare_t)
worker_list.append(jiesong_t)
worker_list.append(other_t)
worker = pd.DataFrame([worker_list], columns=name_list)

In [111]:
worker

        回家       工作   上学      购物    社交娱乐    就医   接送他人      其它
0  866.248  367.704  0.0  35.331  55.644  6.17  4.867  15.478